header {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #008000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#resultado {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

#comparacao {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.tabela, .tabela td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

.tabela tr:nth-child(even) {
    background-color: lightgray;
}

.tabela tr:hover {
    background-color: lightblue;
}

.tabela tr:active {
    font-weight: bold;
}

#game-board {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .letter-box {
    border: 2px solid gray;
    border-radius: 3px;
    margin: 2px;
    font-size: 2.5rem;
    font-weight: 700;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
  }
  
  .filled-box {
    border: 2px solid black;
  }
  
  .letter-row {
    display: flex;
  }