<table>
    <tr>
        <th>id</th>
        <th>userId</th>
        <th>title</th>
    </tr>
    <!--tr>
        <td>{{ vetAlbums[0].id }}</td>
        <td>{{ vetAlbums[0].userId }}</td>
        <td>{{ vetAlbums[0].title }}</td>
    </tr-->
    <tr *ngFor="let album of vetAlbums">
        <td>{{ album.id }}</td>
        <td>{{ album.userId }}</td>
        <td>{{ album.title }}</td>
    </tr>
</table>

<table>
    <tr>
        <th>id</th>
        <th>albumId</th>
        <th>title</th>
        <th>url</th>
        <th>thumbnailUrl</th>
    </tr>
    <tr *ngFor="let photo of vetPhotos">
        <td>{{ photo.id }}</td>
        <td>{{ photo.albumId }}</td>
        <td>{{ photo.title }}</td>
        <td><a href="{{ photo.url }}" target="_blank">Foto</a></td>
        <td><img src="{{ photo.thumbnailUrl }}"></td>
    </tr>
</table>
